<h1>Edit Post</h1>

<%= form_with model: @post do |form| %>

    <%= form.label :title %>
	<%= form.text_field :title %>
	<br>
	<br>
	
	<div class="field">
   <%= form.label :description %>
	<%= form.text_area :description %>
	<br>
    <br>

    <%= form.label :image %>
	<%= form.file_field :image%>
	<br>
	

    <%= form.submit %>
<% end %>