<!DOCTYPE html>
<html>
  <head>
    <title>JobCard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <h1 style="background: orange">Header</h1>
      <% if user_signed_in? %>
        <%= button_to "sign out", destroy_user_session_path, method: :delete %>
        <%= button_to "New Post", new_post_path, method: :get %>

      <% else %>
        <%= link_to "sign up", new_user_registration_path %>
        <%= link_to "sign in", new_user_session_path %>
       
      <% end %> 

     
    </div>
    <%= yield %>
    <div><h1 style="background: orange; position: fixed; bottom: 0; width: 100%">Footer<h1></div>
  </body>
</html>
